<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actions Component's page</title>
</head>
<body>
    <div class="component_container">
        <ul class="c-actions">
            <li class="c-action">
                <span class="c-action__title">10 طلبات تحتاج إلى تأكيد الدفع</span>
                <a href="#" class="c-btn c-action__link">شاهد الطلبات</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">+20 طلب يحتاج إلى الشحن</span>
                <a href="#" class="c-btn c-action__link">شاهد الطلبات</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">6 مراجعات جديدة تحتاج إلى الموافقة</span>
                <a href="#" class="c-btn c-action__link">شاهد المراجعات الجديدة</a>
            </li>
        </ul>
    </div>
</body>
</html>