<ul class="c-actions">
    <li class="c-action">
        <span class="c-action__title">10 طلبات تحتاج إلى تأكيد الدفع</span>
        <a href="#" class="c-btn c-action__link">شاهد الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">+20 طلب يحتاج إلى الشحن</span>
        <a href="#" class="c-btn c-action__link">شاهد الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">6 مراجعات جديدة تحتاج إلى الموافقة</span>
        <a href="#" class="c-btn c-action__link">شاهد المراجعات الجديدة</a>
    </li>
</ul>

<ul class="c-actions c-actions--oneline">
    <li class="c-action">
        <span class="c-action__title">10 طلبات تحتاج إلى تأكيد الدفع</span>
        <a href="#" class="c-btn c-action__link">شاهد الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">+20 طلب يحتاج إلى الشحن</span>
        <a href="#" class="c-btn c-action__link">شاهد الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">6 مراجعات جديدة تحتاج إلى الموافقة</span>
        <a href="#" class="c-btn c-action__link">شاهد المراجعات الجديدة</a>
    </li>
</ul>