.c-card {
    @include e-card();
    padding: (spacing('normal')/2) spacing("normal");
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.c-card__title {
    flex-grow: 1;
    color: $color-title-subdued;
    font-weight: normal;
    margin-top: spacing("normal")/2;
    margin-bottom: spacing("normal")/2;
}

.c-card__action {
    margin-right: spacing();
    margin-top: spacing("normal")/2;
    margin-bottom: spacing("normal")/2;
}

@media(max-width: 450px) {
    .c-card__action {
        margin-right: 0;
    }
}